[Desktop Entry]
Type=Application
Version=1.0
Name=Install Sysible Linux
GenericName=System Installer
Comment=Install Sysible Linux to your hard disk
Exec=pkexec calamares
Icon=sysible-install
Terminal=false
Categories=System;
Keywords=install;installer;calamares;system;disk;
StartupNotify=true
