[Desktop Entry]
Type=Application
Name=Sysible Workstation Installer (auto)
Exec=sysible-live-installer
Terminal=false
NoDisplay=true
X-GNOME-Autostart-enabled=true
